.page {
    display: flex;
    flex-direction: row;
    height: 70vh;
    box-sizing: border-box;
}
#inputform {
    padding-top: 100px;
    width: 66.7%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
h1.label {
    color: #00b7ed;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
form.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.blue-text {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #00b7ed;
    height: 20px;
    width: 80%;
    margin: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #00b7ed;
}
input.blue-text::placeholder {
    color: #00b7ed;
    font-size: 1.5rem;
    font-weight: lighter;
}
input.blue-text:focus{
    outline: none;
}
div.ta-container {
    width: 80%;
    color: #00b7ed;
}
textarea.description {
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #00b7ed;
}
.send-btn {
    color: #FFFFFF;
    text-align: center;
    background-color: #00b7ed;
    border: none;
    border-radius: 12px;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    width: 212px;
    margin-top: 10px;
    font-weight: bold;
}

.contactdetails {
    padding-top: 150px;
    width: 33.3%;
    background-color: #00b7ed;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
div.details {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}
img.contact-logo {
    height: 120px;
    width: 140px;
    margin-right: auto;
    margin-left: auto;
}