/*Element Level Styling to set max and min width and margins above max width*/
body {
    max-width: 1366px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

/* Desktop Viewport */
/***** 
Hero Card
******/
#hero {
    background-image: url("../../imgs/pipes_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 764px;
    width: 100%;
    padding-top: 118px;
}
#hero button {
    color: #00b7ed;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    width: 212px;
    height: 55px;
}
#hero p {
    line-height: 36pt;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #FFFFFF;
}
#hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 65pt;
    font-weight: bold;
    line-height: 86pt;
    text-align: center;
    color: #00b7ed;
}
#hero img {
    height: 207px;
    width: 362px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*****
App Card
*****/

#app_card {
    background-color: #00b7ed;
    height: 376px;
    width: 100%;
}
#app_card p {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    margin: 0;
}
#copy_txt {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    margin: 0;
}
#store_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#store_buttons img {
    display: block;
    height: 55px;
    width: 280px;
}

/*****
Review Cards
*****/

#review_card {
    height: 379px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}
.review_contents {
    font-family: 'Montserrat';
    font-size: 14pt;
    width: 500px;
}
.bbackground {
    background-color: #00b7ed;
    color: #FFFFFF;
}
.round_img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.blue {
    border: 7px solid #00b7ed;
}
.white {
    border: 7px solid #FFFFFF;
}

/*****
Expo Cards
*****/

.expo_card {
    background-image: url("../../imgs/workers.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    box-sizing: border-box;
    height: 588px;
    width: 100%;
}
.expo_card h3 {
    color: #00b7ed;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48pt;
    line-height: 57.6pt;
    margin: auto;  
    padding: 25px 0 25px 0;
}
#block7 {
    background-image: url("../../imgs/table_workers.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    height: 588px;
    width: 100%;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    height: calc(100% - 126px);
}
#container p {
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    color: #00b7ed;
    text-align: center;
    height: 32%;
    width: 238.133px;
    box-sizing: border-box;
}
#container img {
    height: 68%;
    width: 238px;
}
#frame {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc((100%-304px) / 4);
}

/*****
Join Cards
*****/

.join_card {
    height: 210px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.join_card p {
    font-family: 'Montserrat', sans-serif;
    color: #00b7ed;
    font-size: 30pt;
    text-align: center;
    width: 100%;
    margin: 0;
}

.join_card button {
    color: #FFFFFF;
    text-align: center;
    background-color: #00b7ed;
    border: none;
    border-radius: 12px;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 960px) {
    body {
        width: 100%;
    }
    #hero {
        width: 100%;
        height: 304px;
    }
    #hero img {
        width: 116px;
        height: 66px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    #hero p {
        line-height: 16pt;
        font-size: 14pt;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #FFFFFF;
    }
    #hero h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 22pt;
        font-weight: bold;
        line-height: 26pt;
        text-align: center;
        color: #00b7ed;
    }
    #hero button {
        display: none;
    }
    #app_card {
        display: none;
    }
    #container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
    }
    
    #container p {
        font-size: 14pt;
        width: 252px;
    }
    #container img { 
        height: 58px;
        width: 67px;
    }
    .expo_card {
        background-image: url("../../imgs/workers.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
        height: 754px;
        width: 100%;
    }
    .expo_card h3 { 
        font-size: 20pt;
        line-height: 24pt;
    }
    #frame {
        display: block;
        height: 110px;
        width: 252px;
    }
}