footer {
    background-color: #00b7ed;
    height: 196px;
    width: 100%;
}
a:visited, a:link, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 161px;
}

.link_box {
    width: 176px;
    padding-left: 75px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 10pt;
    line-height: 12pt;
    font-family: 'Poppins', sans-serif;
}

/* Logo */
.logo_box {
    padding-top: 10px;
    box-sizing: border-box;
}
.logo {
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

#social_icon {
    color: white;
    font-size: 43px;
}
.social_box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 85px;
    padding-top: 60px;
    width: 177px;
}

.bottom {
    display: block;
    position: relative;
    text-align: center;
    height: 35px;
    width: 100%;
    bottom: 0;
}

.copyright {
    color: white;
}

.foot_font {
    color:  #FFFFFF;
}



