Footer {
    position: absolute;
    bottom: 0;
    max-width: 1440px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.image_box {
    width: calc(100% / 3);
    height: 100vh;
}
.form_box {
    width: calc(100% / 3);
    height: 100vh;
    background-color: #00b7ed;
}
img {
    width: 466px;
    height: 250px;
}